* {
  margin: 0;
  padding: 0;
  line-height: normal;
}

html,
body,
#root,
#root > div {
  height: 100%;
}

#header {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
  /* position: absolute;
  top: 0; */
  z-index: 1;
}

#header-area {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: center;
}

#header-area img {
  width: 128px;
  height: 36px;
}

#body {
  min-height: 100vh;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 24px;
}

#footer {
  height: 200px;
  background-color: rgb(230, 230, 230);
}

/* 400px까지는 이렇게 하겠다 */
@media screen and (max-width:400px) {
  .product-card{
    width:160px !important;
  }
  #header { 
    padding:0 8px;
  }
  #body{
    padding:0 8px;
  }
  .ant-carousel {
    margin: 0 -8px;
  }
}
.slider-slide > a {
  pointer-events: none;
}
.am-carousel-wrap-dot > span{background:white!important;
}
.am-carousel-wrap-dot-active > span{
  background:rgb(255, 167, 233)!important;
}
.am-carousel-wrap-dot-active > span {
  width: 7px!important;
  height: 7px!important;
  background: #ea2027!important;
  position: relative!important;
  transform: rotate(45deg)!important;
  border-radius: 0!important;
}
.am-carousel-wrap-dot-active > span::before,
.am-carousel-wrap-dot-active > span::after {
  content: ""!important;
  width: 7px!important;
  height: 7px!important;
  position: absolute!important;
  border-radius: 50%!important;
  background: #ea2027!important;
  left: -0%!important;
}
.am-carousel-wrap-dot-active > span::before {
  left: -50%!important;
}
.am-carousel-wrap-dot-active > span::after {
  top: -50%!important;
}